.TileCheck {
  --height: var(--base-size);
  position: relative;
  height: var(--height);
  width: calc(var(--height) * 0.36);
  margin: calc(var(--height) * 0.12) calc(var(--height) * 0.08) calc(var(--height) * 0.08) 0;
}

.TileCheck__check-mark {
  position: absolute;
  width: calc(var(--height) * 0.36);
  bottom: 0;
}

.TileCheck--checked .Tile {
  position: absolute;
  top: calc(var(--height) * (-0.11));
}

.TileCheck:focus,
.TileCheck:hover {
  outline: 0;
}

.TileCheck:focus .Tile,
.TileCheck:hover .Tile {
  outline: 0;
  transform: scale(1.05);
}
