.InputDiapason {
  position: relative;
  border: 1px solid rgb(44, 18, 14);
  width: calc(var(--height-input) * 10);
  height: var(--height-input);
  z-index: 70;
}

.InputDiapason__input-field {
  position: absolute;
  display: block;
  box-sizing: border-box;
  border: 0;
  width: 80%;
  height: 100%;
  z-index: 80;
}

.InputDiapason__input-field:focus {
  outline: none;
}

.InputDiapason__arrow-down {
  position: absolute;
  top: 25%;
  left: 91%;
  width: 0;
  height: 0;
  border-left: calc(var(--height-input) * 0.4) solid transparent;
  border-right: calc(var(--height-input) * 0.4) solid transparent;
  border-top: calc(var(--height-input) * 0.4) solid rgb(44, 18, 14);
  z-index: 80;
}

.InputDiapason__arrow-down:focus {
  outline: 0;
  transform: scale(1.3);
  border-top: calc(var(--height-input) * 0.4) solid rgb(102, 99, 99);
}

.InputDiapason__dropbox {
  position: absolute;
  right: 5%;
  top: 85%;
  z-index: 100;
}

.InputDiapason__dropbox > div {
  background-color: white;
}
