.NavButtons {
  display: flex;
  margin: 2rem 1rem 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.NavButtons__menu-button {
  display: block;
  flex-shrink: 0;
  background-color: darkgoldenrod;
  color: white;
  border: solid white;
  border-width: 0 2px 2px;
  box-sizing: content-box;
}

.NavButtons__menu-button--active {
  flex-shrink: 0;
  background-color: white;
  color: darkgoldenrod;
}

.NavButtons__menu-button:hover,
.NavButtons__menu-button:focus {
  outline: 0;
  border-bottom: 2px solid darkgoldenrod;
}
